* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgba(76, 100, 119, 0.916);
    color: #285835;
    line-height: 1.6;
    padding: 20px;
}

h1{
    color: rgb(22, 7, 64);
    margin-bottom: 20px;
}

a {
    display: block;
    color: #111611;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 20px;
}
a:hover {
    text-decoration: underline;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size:  1.5em;
    color: white;
    background-color:  rgb(217, 140, 197);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(226, 43, 177);
}